body{
    font-size: 16px;  /* 1em */
    margin: 0px auto;
    max-width: 1024px; 
}
header nav{
    background: orangered;
    border-radius: 5px;
    margin-left: -30px;
    margin-top: 50px;
    height: 40px;
}
header nav ul li{
    color: white;
    display: inline-block;
    margin-top: 12px;
    margin-right: 20px;   
}
#tema{
    position: relative;
    margin-left: -200px;
    top: 35px;
    width: 30%;
}
#primerSeccion{
    border: 1px solid red;
    display: inline-block;
}
#secc01art01{
    border: 1px solid red;
    margin-left: -10px;
    margin-top: 10px;
    width: 20%;
}
#secc01art02{
    border: 1px solid red;
    width: 40%;
}
