body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
header{
    background: #245D92;
}
header nav{
    background: #EFEFEF;
    padding-left: 700px;
    height: 50px;
}
header nav img{
    min-height: 40px;
    max-height: 40px;
}
body{
    background: #EFEFEF;
}
#logo{
    margin-left: 340px;
}
#primerSeccion{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-left: 15px;
}
#secc01art01 ul{
    list-style: none;
    background: #1E4972;
    width: 73%;
    height: 280px;
    margin-top: -4px;
    font-size: 14px;
}
#secc01art01 ul li{
    margin-bottom: 12px;
    color: white;
    margin-left: -30px;
}
#secc01art01 ul li:before{
    content: "</>";
    margin-right: 10px;
}
#progreso{
    width: 10%;
    margin-top: -6px;
}
#panelprog{
    background: #245D92;
    margin-left: -5px;
    padding: 5px 37px;
    vertical-align: top;
}
#segundaSeccion{
    background: white;
    border-radius: 3px;
    display: inline-block;
    width: 75%;
    margin-left: -24px;
}
#secc02art01{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-left: 10px;
}
#secc02art01-1{
    background: #19A820;
    border-radius: 5px;
    color: white;
    display: inline-block;
    width: 24%;
    height: 140px;
    text-align: center;
    vertical-align: top;
}
#secc02art01-1 img{
    width: 55%;    
}
#secc02art01-2{
    background: #1B6DA9;
    border-radius: 5px;
    color: white;
    display: inline-block;
    width: 24%;
    height: 140px;
    text-align: center;
}
#secc02art01-2 img{
    width: 50%;    
}
#secc02art01-3{
    background: #7F1AA7;
    border-radius: 5px;
    color: white;
    display: inline-block;
    width: 24%;
    height: 140px;
    text-align: center;
    vertical-align: top;
}
#secc02art01-3 img{
    width: 50%;    
}
#secc02art01-4{
    background: #A51B16;
    border-radius: 5px;
    color: white;
    display: inline-block;
    width: 24%;
    height: 140px;
    text-align: center;
    vertical-align: top;
}
#secc02art01-4 img{
    width: 50%;    
}
#secc02art02{
    margin-left: 10px;
}
#secc02art02 img{
    width: 95%;
    margin-left: 20px;
}
#secc02art03{
    margin-left: 10px;
}
#secc02art03 img{
    width: 65%;
}
#secc02art03 input[type="button"]{
    background: #5BBFDE;
    border: 0px;
    color: white;
    padding: 20px auto;
}
#secc02art03-1{
    background: #4A6BAE;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    height: 160px;
    padding-top: 5px;
    text-align: center;
}
#secc02art03-2{
    background: #4A6BAE;
    display: inline-block;
    width: 24%;
    height: 165px;
    text-align: center;
}
#secc02art03-3{
    background: #4A6BAE;
    display: inline-block;
    width: 24%;
    height: 165px;
    text-align: center;
}
#secc02art03-4{
    background: #4A6BAE;
    display: inline-block;
    width: 24%;
    height: 165px;
    vertical-align: top;
    text-align: center;
}
.tamano{
    width: 90%;
}
.colorblanco{
    color: white;
}
